#python
__pycache__/
*.pyc

#virtual environment
.env

#raw dataset
Data/archive/traffic_accidents.csv

#data outputs
Data/versions/*.csv
Data/archive.zip

#visualization outputs
scripts/views_py/*.png
